@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Sligoil';
		src: local('Sligoil'), url('./lib/assets/fonts/sligoil-micro/Sligoil-Micro.woff2') format('woff2'),
			url('./lib/assets/fonts/sligoil-micro/Sligoil-Micro.woff') format('woff'),
			url('./lib/assets/fonts/sligoil-micro/Sligoil-Micro.otf') format('opentype');
		font-display: swap;
	}

	@font-face {
		font-family: 'CMU Serif';
		font-style: normal;
		src: local('CMU Serif'), url('./lib/assets/fonts/computer-modern/cmunrm.ttf') format('truetype');
		font-display: swap;
	}

	@font-face {
		font-family: 'CMU Serif';
		font-style: italic;
		src: url('./lib/assets/fonts/computer-modern/cmunci.ttf') format('truetype');
		font-display: swap;
	}
}
